main {
    scroll-behavior: smooth;
    max-width: 984px;
    padding: 0, 20px, 0, 20px;
    margin: 0 auto;
    margin-top: 50px;
}

article footer {
background: gray;
}

#mainHeader {
    background-color: red;
    height: 50px;
}

ul {
    list-style: none;
    
    float: left;
}

ul li {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 100px;
    font-size: 25px; 
}

a { 
    color: white;
    text-decoration: none;
    
}

article p, article h2 {
    margin-top: 50px;
}

.kitten {
    width: 300px;
    height: 300px;
    margin: 50px;
    float: left;
}

.clear {
    clear: both;
}

img {
    width: 100%;
    height: auto;
}

.background-kitten {
    background-image: url("../img/kitten@2x.jpg");
    background-size: 100%;
}


@media screen and (max-width: 900px) {

      body {
          background-color: grey;
    }
}

@media screen and (max-width: 800px) {

      
        .kitten {
            width: 200px;
            height: 200px;
            margin: 20px;
    }
}

@media screen and (max-width: 479px) {

      
        .kitten {
           float: none;
            margin: 0 auto;
    }
}